<!DOCTYPE html>
<html ng-app="llibrowser">

<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="angular/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-sanitize.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css"/>
</head>

<body ng-controller="ServerCtrl as storage">

	<div ng-show="storage.oldURL.search('resource%3A%2F%2Fllibrowser%2Fdata%2Fdummy.html') != -1" class="alert alert-danger" style="padding: 8px; margin-bottom: 0px; border:solid">
		<strong>Error!</strong> You cannot open LLIBrowser with a not valid page. Valid pages are http(s)://page.domain/other/. This is a demonstration of the work with an example page "dummy.html"
	</div>

	<form id="newPageForm" class="collapse" name="newPage" ng-submit="newPage.$valid && storage.setURL()" novalidate style="position:relative; clear:both; width:100%; background-color:#d9edf7; color:black;">
		<input ng-model="storage.newURL" ng-pattern="storage.HTTP_REGEX" placeholder="Insert new link for LLIs" required style="width:90%"/>
		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-refresh">&nbsp;Reload</span></button>


		<div ng-show="newPage.$valid" class="alert alert-success" style="padding: 8px; margin-bottom: 0px; border:solid">
			<strong>Success!</strong> Ready to reload the page with {{storage.newURL}}. Click "Reload"
		</div>

		<div ng-show="!storage.newURL" class="alert alert-warning" style="padding: 8px; margin-bottom: 0px; border:3px">
			<strong>Warning!</strong> Your address should start with "http://" or "https://" (E.g. http://www.example.com, https://www.example.com)
		</div>
	</form>

	<div class="alert alert-info" style="padding: 8px; margin-bottom: 0px; border:3px solid #387090">
		<strong>Info!</strong> The current LLIs refer to this URL: {{storage.oldURL}}
	</div>

	<div class="div-masthead">

		<button id="search-btn" type="button" class="btn btn-default pull-right" data-toggle="collapse" rel="tooltip" title="reload with another url" data-target="#newPageForm" style="margin-right:1%; margin-top:5px">
			<span class="glyphicon glyphicon-search"></span> Search
		</button>

		<form style="margin: 0 auto; left: 10px; width: 98%; align: middle; visibility: visible">
			<label for="FAQ" style="color: #387090; margin: 10px 0px 5px 0px"> <input type="checkbox" name="FAQ" value="FAQ" id="FAQ" ng-model="storage.activeTabs[0]"/> FAQ</label>
			<label for="code" style="color: #387090"> <input type="checkbox" name="code" value="code" id="code" ng-model="storage.activeTabs[1]" />Code</label>
			<label for="video" style="color: #387090"> <input type="checkbox" name="video" value="video" id="video" ng-model="storage.activeTabs[2]" /> Video</label>
			<label for="audio" style="color: #387090"> <input type="checkbox" name="audio" value="audio" id="audio" ng-model="storage.activeTabs[3]"/> Audio </label>
			<label for="slides" style="color: #387090"> <input type="checkbox" name="slides" value="slides" id="slides" ng-model="storage.activeTabs[4]"/> Slides </label>
			<label for="table" style="color: #387090"> <input type="checkbox" name="table" value="table" id="table" ng-model="storage.activeTabs[5]"/> Table </label>
			<label for="narrativeText" style="color: #387090"> <input type="checkbox" name="narrativeText" value="narrativeText" id="narrativeText" ng-model="storage.activeTabs[6]"/> narrative Text </label>
		</form>

		<div style="margin-left: 01%; margin-top:20px; left: 10px; top: 70px; width: 98%; height: 50%; align: middle; background-color:#95caf7; visibility: visible" ng-controller="expandCtrl as expand">
			<div id="FAQTab">
				<form ng-show="storage.isSelected(1) && storage.activeTabs[0]">
					<div style="float: left; margin-top:25px; margin-left:5%" ng-show="storage.index[0]>0" ng-click="storage.index[0]=storage.moveIndex(storage.index[0],-5,storage.faqs.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-left"></span></div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.faqs.length-storage.index[0]>=1" ng-click="expand.displayJSON(storage.faqs[storage.index[0]])" data-toggle="collapse" data-target="#main-div">{{storage.faqs[storage.index[0]+0]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.faqs.length-storage.index[0]>=2" ng-click="expand.displayJSON(storage.faqs[storage.index[0]+1])" data-toggle="collapse" data-target="#main-div">{{storage.faqs[storage.index[0]+1]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.faqs.length-storage.index[0]>=3" ng-click="expand.displayJSON(storage.faqs[storage.index[0]+2])" data-toggle="collapse" data-target="#main-div">{{storage.faqs[storage.index[0]+2]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.faqs.length-storage.faqsindex>=4" ng-click="expand.displayJSON(storage.faqs[storage.index[0]+3])" data-toggle="collapse" data-target="#main-div">{{storage.faqs[storage.index[0]+3]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.faqs.length-storage.index[0]>=5" ng-click="expand.displayJSON(storage.faqs[storage.index[0]+4])" data-toggle="collapse" data-target="#main-div">{{storage.faqs[storage.index[0]+4]["dcterms:title"]["@value"]}}</div>

					<div style="float: right; margin-top:45px; margin-right:5%" ng-show="storage.index[0]+5<storage.faqs.length" ng-click="storage.index[0]=storage.moveIndex(storage.index[0],5,storage.faqs.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-right"></span></div>
				</form>
			</div>
			<div id="CodeTab">
				<form ng-show="storage.isSelected(2) && storage.activeTabs[1]">
					<div style="float: left; margin-top:45px; margin-left:5%" ng-show="storage.index[1]>0" ng-click="storage.index[1]=storage.moveIndex(storage.index[1],-5,storage.codes.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-left"></span></div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.codes.length-storage.index[1]>=1" ng-click="expand.displayJSON(storage.codes[storage.index[1]])" data-toggle="collapse" data-target="#main-div">{{storage.cods[storage.index[1]+0]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.codes.length-storage.index[1]>=2" ng-click="expand.displayJSON(storage.codes[storage.index[1]+1])" data-toggle="collapse" data-target="#main-div">{{storage.codes[storage.index[1]+1]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.codes.length-storage.index[1]>=3" ng-click="expand.displayJSON(storage.codes[storage.index[1]+2])" data-toggle="collapse" data-target="#main-div">{{storage.codes[storage.index[1]+2]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.codes.length-storage.index[0]>=4" ng-click="expand.displayJSON(storage.codes[storage.index[1]+3])" data-toggle="collapse" data-target="#main-div">{{storage.codes[storage.index[1]+3]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.codes.length-storage.index[1]>=5" ng-click="expand.displayJSON(storage.codes[storage.index[1]+4])" data-toggle="collapse" data-target="#main-div">{{storage.codes[storage.index[1]+4]["dcterms:title"]["@value"]}}</div>

					<div style="float: right; margin-top:45px; margin-right:5%" ng-show="storage.index[1]+5<storage.codes.length" ng-click="storage.index[1]=storage.moveIndex(storage.index[1],5,storage.codes.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-right"></span></div>
				</form>
			</div>
			<div id="VideoTab">
				<form ng-show="storage.isSelected(3) && storage.activeTabs[2]">
					<div style="float: left; margin-top:45px; margin-left:5%" ng-show="storage.index[2]>0" ng-click="storage.index[2]=storage.moveIndex(storage.index[2],-5,storage.videos.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-left"></span></div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.videos.length-storage.index[2]>=1" ng-click="expand.displayJSON(storage.videos[storage.index[2]+0])" data-toggle="collapse" data-target="#main-div">{{storage.videos[storage.index[2]+0]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.videos.length-storage.index[2]>=2" ng-click="expand.displayJSON(storage.videos[storage.index[2]+1])" data-toggle="collapse" data-target="#main-div">{{storage.videos[storage.index[2]+1]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.videos.length-storage.index[2]>=3" ng-click="expand.displayJSON(storage.videos[storage.index[2]+2])" data-toggle="collapse" data-target="#main-div">{{storage.videos[storage.index[2]+2]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.videos.length-storage.index[2]>=4" ng-click="expand.displayJSON(storage.videos[storage.index[2]+3])" data-toggle="collapse" data-target="#main-div">{{storage.videos[storage.index[2]+3]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.videos.length-storage.index[2]>=5" ng-click="expand.displayJSON(storage.videos[storage.index[2]+4])" data-toggle="collapse" data-target="#main-div">{{storage.videos[storage.index[2]+4]["dcterms:title"]["@value"]}}</div>

					<div style="float: right; margin-top:45px; margin-right:5%" ng-show="storage.index[2]+5<storage.videos.length" ng-click="storage.index[2]=storage.moveIndex(storage.index[2],5,storage.videos.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-right"></span></div>
				</form>
			</div>
			<div id="AudioTab">
				<form ng-show="storage.isSelected(4) && storage.activeTabs[3]">
					<div style="float: left; margin-top:45px; margin-left:5%" ng-show="storage.index[3]>0" ng-click="storage.index[3]=storage.moveIndex(storage.index[3],-5,storage.audios.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-left"></span></div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.audios.length-storage.index[3]>=1" ng-click="expand.displayJSON(storage.audios[storage.index[3]+0])" data-toggle="collapse" data-target="#main-div">{{storage.audios[storage.index[3]+0]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.audios.length-storage.index[3]>=2" ng-click="expand.displayJSON(storage.audios[storage.index[3]+1])" data-toggle="collapse" data-target="#main-div">{{storage.audios[storage.index[3]+1]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.audios.length-storage.index[3]>=3" ng-click="expand.displayJSON(storage.audios[storage.index[3]+2])" data-toggle="collapse" data-target="#main-div">{{storage.audios[storage.index[3]+2]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.audios.length-storage.index[3]>=4" ng-click="expand.displayJSON(storage.audios[storage.index[3]+3])" data-toggle="collapse" data-target="#main-div">{{storage.audios[storage.index[3]+3]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.audios.length-storage.index[3]>=5" ng-click="expand.displayJSON(storage.audios[storage.index[3]+4])" data-toggle="collapse" data-target="#main-div">{{storage.audios[storage.index[3]+4]["dcterms:title"]["@value"]}}</div>

					<div style="float: right; margin-top:45px; margin-right:5%" ng-show="storage.index[3]+5<storage.audios.length" ng-click="storage.index[3]=storage.moveIndex(storage.index[3],5,storage.audios.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-right"></span></div>
				</form>
			</div>
			<div id="SlidesTab">
				<form ng-show="storage.isSelected(5) && storage.activeTabs[4]">
					<div style="float: left; margin-top:45px; margin-left:5%" ng-show="storage.index[4]>0" ng-click="storage.index[4]=storage.moveIndex(storage.index[4],-5,storage.slides.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-left"></span></div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.slides.length-storage.index[4]>=1" ng-click="expand.displayJSON(storage.slides[storage.index[4]+0])" data-toggle="collapse" data-target="#main-div">{{storage.slides[storage.index[4]+0]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.slides.length-storage.index[4]>=2" ng-click="expand.displayJSON(storage.slides[storage.index[4]+1])" data-toggle="collapse" data-target="#main-div">{{storage.slides[storage.index[4]+1]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.slides.length-storage.index[4]>=3" ng-click="expand.displayJSON(storage.slides[storage.index[4]+2])" data-toggle="collapse" data-target="#main-div">{{storage.slides[storage.index[4]+2]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.slides.length-storage.index[4]>=4" ng-click="expand.displayJSON(storage.slides[storage.index[4]+3])" data-toggle="collapse" data-target="#main-div">{{storage.slides[storage.index[4]+3]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.slides.length-storage.index[4]>=5" ng-click="expand.displayJSON(storage.slides[storage.index[4]+4])" data-toggle="collapse" data-target="#main-div">{{storage.slides[storage.index[4]+4]["dcterms:title"]["@value"]}}</div>
					<div style="float: right; margin-top:45px; margin-right:5%" ng-show="storage.index[4]+5<storage.slides.length" ng-click="storage.index[4]=storage.moveIndex(storage.index[4],5,storage.slides.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-right"></span></div>
				</form>
			</div>
			<div id="TableTab">
				<form ng-show="storage.isSelected(6) && storage.activeTabs[5]">
					<div style="float: left; margin-top:45px; margin-left:5%" ng-show="storage.index[5]>0" ng-click="storage.index[5]=storage.moveIndex(storage.index[5],-5,storage.tables.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-left"></span></div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.tables.length-storage.index[5]>=1" ng-click="expand.displayJSON(storage.tables[storage.index[5]+1])" data-toggle="collapse" data-target="#main-div">{{storage.tables[storage.index[5]+0]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height:70px; background-color:white; color:black" ng-show="storage.tables.length-storage.index[5]>=2" ng-click="expand.displayJSON(storage.tables[storage.index[5]+1])" data-toggle="collapse" data-target="#main-div">{{storage.tables[storage.index[5]+1]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.tables.length-storage.index[5]>=3" ng-click="expand.displayJSON(storage.tables[storage.index[5]+2])" data-toggle="collapse" data-target="#main-div">{{storage.tables[storage.index[5]+2]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.tables.length-storage.index[5]>=4" ng-click="expand.displayJSON(storage.tables[storage.index[5]+3])" data-toggle="collapse" data-target="#main-div">{{storage.tables[storage.index[5]+3]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.tables.length-storage.index[5]>=5" ng-click="expand.displayJSON(storage.tables[storage.index[5]+4])" data-toggle="collapse" data-target="#main-div">{{storage.tables[storage.index[5]+4]["dcterms:title"]["@value"]}}</div>

					<div style="float: right; margin-top:45px; margin-right:5%" ng-show="storage.index[5]+5<storage.tables.length" ng-click="storage.index[5]=storage.moveIndex(storage.index[5],5,storage.tables.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-right"></span></div>
				</form>
			</div>
			<div id="TextTab">
				<form ng-show="storage.isSelected(7) && storage.activeTabs[6]">
					<div style="float: left; margin-top:45px; margin-left:5%" ng-show="storage.index[6]>0" ng-click="storage.index[6]=storage.moveIndex(storage.index[6],-5,storage.texts.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-left"></span></div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.texts.length-storage.index[6]>=1" ng-click="expand.displayJSON(storage.texts[storage.index[6]+0])" data-toggle="collapse" data-target="#main-div">{{storage.texts[storage.index[6]+0]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.texts.length-storage.index[6]>=2" ng-click="expand.displayJSON(storage.texts[storage.index[6]+0])" data-toggle="collapse" data-target="#main-div">{{storage.texts[storage.index[6]+1]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.texts.length-storage.index[6]>=3" ng-click="expand.displayJSON(storage.texts[storage.index[6]+0])" data-toggle="collapse" data-target="#main-div">{{storage.texts[storage.index[6]+2]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.texts.length-storage.index[6]>=4" ng-click="expand.displayJSON(storage.texts[storage.index[6]+0])" data-toggle="collapse" data-target="#main-div">{{storage.texts[storage.index[6]+3]["dcterms:title"]["@value"]}}</div>

					<div style="float: left; margin-top:25px; margin-left:6%; width:10%; height: 70px; background-color:white; color:black" ng-show="storage.texts.length-storage.index[6]>=5" ng-click="expand.displayJSON(storage.texts[storage.index[6]+0])" data-toggle="collapse" data-target="#main-div">{{storage.texts[storage.index[6]+4]["dcterms:title"]["@value"]}}</div>

					<div style="float: right; margin-top:45px; margin-right:5%" ng-show="storage.index[6]+5<storage.texts.length" ng-click="storage.index[6]=storage.moveIndex(storage.index[6],5,storage.texts.length)"><span style="font-size:1.8em;" class="glyphicon glyphicon-circle-arrow-right"></span></div>
				</form>
			</div>
		</div>
		<form style="margin: 0 auto; margin-left:01%; left: 10px; top: 50px; width: 98%;align: middle; background-color:#d9edf7; visibility: visible;">
			<ul class="nav nav-pills">
				<li role="presentation"> <a href="#FAQ" ng-style="storage.tabStyle[0]" ng-click="storage.selectTab(1);" ng-show="storage.activeTabs[0]">FAQ</a></li>
				<li role="presentation"><a href="#code" ng-style="storage.tabStyle[1]" ng-click="storage.selectTab(2);" ng-show="storage.activeTabs[1]">Code</a></li>
				<li role="presentation"><a href="#video" ng-style="storage.tabStyle[2]" ng-click="storage.selectTab(3);" ng-show="storage.activeTabs[2]">Video</a></li>
				<li role="presentation"><a href="#audio" ng-style="storage.tabStyle[3]" ng-click="storage.selectTab(4);" ng-show="storage.activeTabs[3]">Audio</a></li>
				<li role="presentation"><a href="#slides" ng-style="storage.tabStyle[4]" ng-click="storage.selectTab(5);"ng-show="storage.activeTabs[4]">Slides</a></li>
				<li role="presentation"><a href="#table" ng-style="storage.tabStyle[5]" ng-click="storage.selectTab(6);" ng-show="storage.activeTabs[5]">Table</a></li>
				<li role="presentation"><a href="#narrativeText" ng-style="storage.tabStyle[6]" ng-click="storage.selectTab(7);" ng-show="storage.activeTabs[6]">narrative Text</a></li>
			</ul>
		</form>

	<!-- <form style="margin: 0 auto; margin-left:01%; left: 10px; top: 50px; width: 98%;align: middle; background-color:#d9edf7; visibility: visible">
		<a class="nav nav-tabs" href="#FAQ" ng-style="storage.tabStyle[0]" ng-click="storage.selectTab(1);" ng-show="storage.activeTabs[0]">FAQ</a>
		<a  class="nav nav-tabs" href="#code" ng-style="storage.tabStyle[1]" ng-click="storage.selectTab(2);" ng-show="storage.activeTabs[1]">Code</a>
		<a  class="nav nav-tabs" href="#video" ng-style="storage.tabStyle[2]" ng-click="storage.selectTab(3);" ng-show="storage.activeTabs[2]">Video</a>
		<a class="nav nav-tabs" href="#audio" ng-style="storage.tabStyle[3]" ng-click="storage.selectTab(4);" ng-show="storage.activeTabs[3]">Audio</a>
		<a class="nav nav-tabs" href="#slides" ng-style="storage.tabStyle[4]" ng-click="storage.selectTab(5);"ng-show="storage.activeTabs[4]">Slides</a>
		<a class="nav nav-tabs" href="#table" ng-style="storage.tabStyle[5]" ng-click="storage.selectTab(6);" ng-show="storage.activeTabs[5]">Table</a>
		<a class="nav nav-tabs" href="#narrativeText" ng-style="storage.tabStyle[6]" ng-click="storage.selectTab(7);" ng-show="storage.activeTabs[6]">narrative Text</a>
	</form>
-->
</div>
<div ng-controller="expandCtrl" class="container">
	<table id="displayTable">
	</table>
</div>

</body>
</html>